<header>
  <div class="header__icon">
    <img src="../assets/logo.svg"  alt="logo"/>
    <h2>Jaque Test</h2>
  </div>
  <div class="header__user">
    <img src="../assets/user.svg" alt="user">
    <p>Carlos Ustarroz</p>
    <img src="../assets/arrow.svg" alt="arrow"/>
  </div>
</header>

<div class="main__container">
  <aside>
    <ul>
      <li><img src="../assets/user.svg">Usuarios</li>
      <li><img src="../assets/shop.svg" />Slider</li>
      <li><img src="../assets/square.svg"  />Reportes</li>
      <li><img src="../assets/user.svg">Terminos</li>
      <li><img src="../assets/web.svg">Redes</li>
    </ul>
  </aside>
  <section>
    <div class="add__bar">
      <div  class="add__bar-title">
        <p>Usuarios</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
      </div>

      <div class="add__bar-buttonView">
        <button>
          <img src="../assets/eye.svg" alt="eye">
          <span>Previsualizar</span>
        </button>
      </div>
      <div class="add__bar-buttonAdd">
        <button>
          <img src="../assets/add.svg" alt="add">
          <span>Agregar nuevo Usuario</span>
        </button>
      </div>
    </div>
    <div class="list__data">
      <router-outlet></router-outlet>
    </div>
  </section>
</div>



