header
  background-color #afafaf
  display flex
  justify-content space-between
  border-bottom 1px solid #95a5a6
.header__icon
  width 20%
  display flex
  img
    width 20%
  h2
    line-height 75px
    color white
    text-shadow 2px 2px #7f8c8d
 .header__user
   display flex
   justify-content space-between
   p
     line-height 75px
     margin: 0 5px
 .main__container
   display flex
   flex-wrap nowrap
 aside
   width 15%
   border-right  1px solid rgba(0,0,0,.1)
   height 90vh
   background-color #efefef
   ul
     list-style none
     li
       padding 1em
       border-bottom 1px solid #bdc3c7
       img
        margin-right 10px
       &:hover
        background-color #fff
        border-right  3px solid  #2c3e50
section
  padding 2%
  width 75%
.add__bar
  border 1px solid #bdc3c7
  width 100%
  display flex
  flex-wrap nowrap
  padding 25px
  background-color #fff
.add__bar-title
  margin-right 35%

.add__bar-title p:first-child
  margin-bottom 20px
.add__bar-buttonView button
  border 1px solid #bdc3c7
  padding 15px
  background-color #fff
  margin-right 20px
  img
    vertical-align middle
    margin-right 5px
.add__bar-buttonAdd button
  border 1px solid #bdc3c7
  padding 15px
  background-color #bdc3c7
  img
    vertical-align middle
    margin-right 5px
  &:hover
    box-shadow 3px 3px 3px #2c3e50
    cursor pointer

